In [ ]:
#file=open('<file-name>','<mode>')
#file.close()
#with open('<file-name>','<mode>')as file:
# <operation>

In [ ]:
#mode
#read->'r'
# write->'w'
# create->'x'
# append->'a'

In [1]:
file=open('file.txt','x')
file.close()

In [2]:
try:
    file=open('file.txt','x')
    file.close()
except:# try bolck ko error catch garxa
    print("The file is already there")

The file is already there

In [11]:
file=open('file.txt','r')
x=file.read()#syntax to read file
print(x)
file.close()

1.hello world
2.Iam planet
3.hello world
4.Iam planet
5.hello world
6.Iam planet
7.hello world
8.Iam planet

In [5]:
 type(x)

str

In [7]:
x

'hello world\nIam planet'

In [12]:
y=x.split('\n')
print(y)

['1.hello world', '2.Iam planet', '3.hello world', '4.Iam planet', '5.hello world', '6.Iam planet', '7.hello world', '8.Iam planet']

In [ ]:
#inorder to read txt file line by line we will use split function

In [13]:
n=int(input('Enter the line number='))
y[n-1]

Enter the line number=2

'2.Iam planet'

In [14]:
#to write in a file 
#in case of write and append mode the file will  be created itself
#if file already exits then overwrite will take place for example if hello.txt already exist and there is content hello .Hello will be replace by hi
file=open('hello.txt','w')
file.write('hi ')
file.close()

In [15]:
bill=str()
n=int(input("Enter the  no of item "))
for i in range(n):
    product=input("Enter product name=")
    qty=int(input("Enter the quantity of product="))
    price=int(input("Enter the price="))
    total=price*qty
    bill=bill+f"product name {product} quantity {qty} price {price} total is {total}\n"
print(bill)

file=open('bill.txt','w')
file.write(bill)
file.close()

Enter the  no of item 2
Enter product name=apple
Enter the quantity of product=2
Enter the price=200
Enter product name=banana
Enter the quantity of product=3
Enter the price=230
product name apple quantity 2 price 200 total is 400
product name banana quantity 3 price 230 total is 690

In [16]:
file=open('bill.txt','r')
x=file.read()
print(x)
file.close()#string form ma xa and

product name apple quantity 2 price 200 total is 400
product name banana quantity 3 price 230 total is 690

In [17]:
l=[]#use llist in side list to change string into int value
a=x.split('\n')[:-1]
for i in a:
    l.append(i.split())
print(l)

[['product', 'name', 'apple', 'quantity', '2', 'price', '200', 'total', 'is', '400'], ['product', 'name', 'banana', 'quantity', '3', 'price', '230', 'total', 'is', '690']]

In [ ]:
#limitation of files:
a=x.split('\n')[:-1]
result[]
for i in a:
    y=i.split()
    y[1]=int(y[1])#not complete

In [20]:
bill=str()
n=int(input("Enter the  no of item "))
for i in range(n):
    product=input("Enter product name=")
    qty=int(input("Enter the quantity of product="))
    price=int(input("Enter the price="))
    total=price*qty
    bill=bill+f"{product}, {qty},{price},{total}\n"
print(bill)

file=open('bill.csv','w')#comma seperated values excel format

file.write('product name,Quantity,Price,total\n')#header of excel defined
file.write(bill)
file.close()

Enter the  no of item 3
Enter product name=apple
Enter the quantity of product=3
Enter the price=200
Enter product name=mango
Enter the quantity of product=7
Enter the price=200
Enter product name=grapes
Enter the quantity of product=3
Enter the price=250
apple, 3,200,600
mango, 7,200,1400
grapes, 3,250,750

In [19]:
pwd

'C:\\Users\\LENOVO\\python530'

In [ ]:
#result printing in excel

In [23]:
import pandas as pd
df=pd.read_csv('bill.csv')
print(df)

  product name  Quantity  Price  total
0        apple         3    200    600
1        mango         7    200   1400
2       grapes         3    250    750

In [ ]:
#use of append line by line data entry
#write overwrite where as append add the text

In [24]:
#shell 1

file=open('new_bill.csv','a')#comma seperated values excel format
file.write('product name,Quantity,Price,total\n')#header of excel defined
#only one time write garna ko lagi seperate cell use garako ho

34

In [26]:
#shell2 

bill=str()
n=int(input("Enter the  no of item "))
for i in range(n):
    product=input("Enter product name=")
    qty=int(input("Enter the quantity of product="))
    price=int(input("Enter the price="))
    total=price*qty
    bill=bill+f"{product}, {qty},{price},{total}\n"
print(bill)

file.write(bill)

Enter the  no of item 3
Enter product name=coke
Enter the quantity of product=2
Enter the price=70
Enter product name=oats
Enter the quantity of product=2
Enter the price=550
Enter product name=chia seed
Enter the quantity of product=2
Enter the price=250
coke, 2,70,140
oats, 2,550,1100
chia seed, 2,250,500

53

In [27]:
#shell 3

file.close()#close file at last

In [31]:
import pandas as pd
x=pd.read_csv('new_bill.csv')
print(x)

  product name  Quantity  Price  total
0        apple         2    200    400
1       banana         3    300    900
2         coke         2     70    140
3         oats         2    550   1100
4    chia seed         2    250    500

In [4]:
#make data entry application at home
file=open("marksheet.csv",'a')
file.write('Name of student,roll no,mark obtained,percentage\n')

49

In [5]:
n=int(input("Enter the no of student"))
result=str()
for i in range(n):
    name=input("Enter student name=")
    rollno=int(input("Enter student rollno="))
    wt=int(input("Enter the marks obtained in WT="))
    c=int(input("Enter the marks obtained in c="))
    dbms=int(input("enter the marks obtained in dbms="))
    total=wt+c+dbms
    per=total*(1/3)
    result+=f"{name},{rollno},{total},{per}\n"
print(result)    

file.write(result)

Enter the no of student2
Enter student name=ram
Enter student rollno=12
Enter the marks obtained in WT=87
Enter the marks obtained in c=89
enter the marks obtained in dbms=90
Enter student name=sita
Enter student rollno=11
Enter the marks obtained in WT=78
Enter the marks obtained in c=89
enter the marks obtained in dbms=87
ram,12,266,88.66666666666666
sita,11,254,84.66666666666666

59

In [6]:
file.close()