In [1]:
#nested list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(type(a))

<class 'list'>

In [2]:
print(a[0])

[1, 2, 3]

In [4]:
print(a[0][2])

3

In [5]:
a=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
print(a[1])

['Sita', 20, 'patan']

In [6]:
print(a[1][0])

Sita

In [7]:
x=[]
n=int(input("Enter the value "))
for i in range(n):
    a=input("Enter the name=")
    b=int(input("Enter the age="))
    c=input("Enter the address=")
    x.append([a,b,c])
print(x)

Enter the value 3
Enter the name=ram
Enter the age=21
Enter the address=ktm
Enter the name=sita
Enter the age=20
Enter the address=patan
Enter the name=gopal
Enter the age=19
Enter the address=bkt
[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt']]

In [10]:
#for addition
x.append(['hari','23'])
print(x)

[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]

In [12]:
#searching
for i in x:
    print(x)

[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]
[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]
[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]
[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]
[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]
[['ram ', 21, 'ktm'], ['sita', 20, 'patan'], ['gopal', 19, 'bkt'], ['hari', '23', 'lalitpur'], ['hari', '23', 'lalitpur'], ['hari', '23']]

In [14]:
p=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
name=input("Enter the name to be searched=")
for i in p:
    if name in i:
        print(i)

Enter the name to be searched=Ram
['Ram', 21, 'ktm']

In [16]:
p=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
name=input("Enter the name to be searched=").lower()
l=len(p)
for i in range(l):
    if name in p[i][0].lower():
        print(p[i][0].lower)

Enter the name to be searched=RAM
<built-in method lower of str object at 0x00000294006674F0>

In [17]:
p=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
for i in p:
    if i[1]>20:
        print(i)

['Ram', 21, 'ktm']

In [18]:
#update
p=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
p[0][0]='rita'
print(p)

[['rita', 21, 'ktm'], ['Sita', 20, 'patan'], ['gopal', 19, 'bkth']]

In [20]:
#remove fxn is not widely used use del keyword mostly
p=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
del p[0][1]
p

[['Ram', 'ktm'], ['Sita', 20, 'patan'], ['gopal', 19, 'bkth']]

In [24]:
#del keyword utilization
p=[['Ram',21,'ktm'],['Sita',20,'patan'],['gopal',19,'bkth']]
del p[1]
del p[0][2]
p

[['Ram', 21], ['gopal', 19, 'bkth']]

In [18]:

#WAP to convert given string into list inside list ie nested lista='apple 2 200,banana 3 3000'

s="apple 2 100","banana 3 300"
p=[]

l=len(s)
for i in range(l):
    if s[i]==",":
        x=s.split()
        p.append(x)
    print(p)

[]
[]

In [4]:
#WAP to create row and column from user
p=[]
r=int(input("Enter the row"))
c=int(input('Enter the column'))
for i in range(r):
    q=[]
    for j in range(c):
        x=input("Enter the name")
        y=int(input("Enter the age"))
        z=input("Enter the city")
        q.append(x)
        q.append(y)
        q.append(z)
    p.append(q)    
print(p)    
    
    #[[ram,20,kapan]

Enter the row2
Enter the column2
Enter the nameram
Enter the age21
Enter the citykapan
Enter the namesita
Enter the age22
Enter the cityktm
Enter the namerama
Enter the age19
Enter the citykavre
Enter the namegita
Enter the age23
Enter the citychitwan
[['ram', 21, 'kapan', 'sita', 22, 'ktm'], ['rama', 19, 'kavre', 'gita', 23, 'chitwan']]

In [ ]:
## qn1 ko string integer lai integer maconvert garna

In [ ]:
p=[]
r=int(input('Enter the size of row='))
c=int(input('Enter the size of column='))

for i in range(r):
    for j in range(c):

Enter the size of row=3
Enter the size of column=3
Enter name=ram
Enter age=21
Enter citychabahil

In [21]:
# Solution WAP to convert given string into list inside list ie nested list
a="apple 2 200 400 \n banana 3 300 900"
b=a.split('\n')
print(b)
result=[]
for i in b:
    x=i.split()
    print(x)
    qty=int(x[1])#changing into integer
    price=int(x[2])
    total=int(x[3])
    x[1]=qty
    x[2]=price
    x[3]=total
    result.append(x)
print(result)

['apple 2 200 400 ', ' banana 3 300 900']
['apple', '2', '200', '400']
['banana', '3', '300', '900']
[['apple', 2, 200, 400], ['banana', 3, 300, 900]]

In [26]:
#WAP to create row and column from user in matrix form
matrix=[]
r=int(input("Enter the row size="))
c=int(input("Enter the size of column="))
for i in range(r):
    mat=[]
    for j in range(c):
        x=int(input(f"Enter the value of x= for row={i} col={j} "))
        mat.append(x)
    matrix.append(mat)
print(matrix)

Enter the row size=2
Enter the size of column=2
Enter the value of x= for row=0 col=0 1
Enter the value of x= for row=0 col=1 2
Enter the value of x= for row=1 col=0 3
Enter the value of x= for row=1 col=1 2
[[1, 2], [3, 2]]

In [2]:
#result
subject=['physics','chemistry','maths','bio','english']
c=len(subject)
matrix=[]
r=int(input("Enter the row size="))
for i in range(r):
    y=[]
    total=0
    for j in range(c):
        x=int(input(f"Enter the marks for roll {i} subject->{subject[j]}=="))
        total=total+x
        y.append(x)
    y.append(total)
    matrix.append(y)
print(matrix)

Enter the row size=2
Enter the marks for roll 0 subject->physics==2
Enter the marks for roll 0 subject->chemistry==3
Enter the marks for roll 0 subject->maths==4
Enter the marks for roll 0 subject->bio==5
Enter the marks for roll 0 subject->english==6
Enter the marks for roll 1 subject->physics==1
Enter the marks for roll 1 subject->chemistry==6
Enter the marks for roll 1 subject->maths==7
Enter the marks for roll 1 subject->bio==8
Enter the marks for roll 1 subject->english==9
[[2, 3, 4, 5, 6, 20], [1, 6, 7, 8, 9, 31]]

In [3]:
a='bcd213e'
a=a.replace('cd','09')
a

'b09213e'