In [3]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 351.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=179efbd6543a40a86384f5fa4860960761b5e18ba5454ad614f78e929e164205
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [1]:
import mysql.connector
database=mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db=database.cursor()#it hold the database and create connection with database

In [2]:
sql="CREATE DATABASE python02"
db.execute(sql)

In [8]:
import mysql.connector
database=mysql.connector.connect(
host="localhost",
user="root",
password="",
database="python01"    
)
db=database.cursor()

In [9]:
sql1="CREATE TABLE employee(id INT,name VARCHAR(255))"
db.execute(sql1)

In [32]:
import mysql.connector
database=mysql.connector.connect(
host="localhost",
user="root",
password="",
database="python01"    
)
db=database.cursor()

In [18]:
sql2="insert into employee values(null,'sam'),(2,'Sita')"
db.execute(sql2)
database.commit()#insertion garna bela commit fxn use garnu parcha

In [25]:
#dynamic value insertion in database
n=int(input("Enter the value of n"))
for i in range(n):
    sn=int(input("Enter the no="))
    name=input("Enter the name=")
sql4=(f"insert into employee values({sn},'{name}') ");
db.execute(sql4)
database.commit()

Enter the value of n1
Enter the no=4
Enter the name=sami

In [26]:
sql3="select * from employee";
db.execute(sql3)
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram')
(2, 'Sita')
(1, 'Ram')
(2, 'Sita')
(None, 'sam')
(2, 'Sita')
(4, 'sami')

In [34]:
#selecting query
sql5="select id,name from employee where name='ram'";
db.execute(sql5)
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram')
(1, 'Ram')

In [36]:
#deleting query
sql6="delete from employee where name='Ram'"
db.execute(sql6)
database.commit()

In [37]:
#updating query
sql7="update employee set name='Ram' where name='Sita' and id=2";
db.execute(sql7)
database.commit()