In [1]:
#string
a="hello world\n"
print(a*3)

hello world
hello world
hello world

In [2]:
a="hello world"
print(a[0])

h

In [3]:
a="hello world Iam python"
print(a[1:15:2])

el ol a

In [5]:
a="hello world I am python"
print(a[-1:-8:-2])

nhy

In [7]:
a="hello world"
print(a[0:])

hello world

In [12]:
a="hello world"
print(a[::])

hello world

In [8]:
a="hello world"
l=len(a)
print(l)
print(a[-1:-l-1:-1])

11
dlrow olleh

In [9]:
a="hello world"
b=32
print(a+str(b))

hello world32

In [10]:
#string formatting
a="ram"
b=23
c="kathmandu"
info=f"hello{a} Iam {b} and  I am from {c}"
info

'helloram Iam 23 and  I am from kathmandu'

In [2]:
#bill system
bill=str()
n=int(input("Enter the  no of item "))
for i in range(n):
    product=input("Enter product name=")
    qty=int(input("Enter the quantity of product="))
    price=int(input("Enter the price="))
    total=price*qty
    bill=bill+f"product name {product} quantity {qty} price {price} total is {total}\n"
print(bill)

Enter the  no of item 2
Enter product name=apple
Enter the quantity of product=2
Enter the price=30
Enter product name=oats
Enter the quantity of product=2
Enter the price=550
product name apple quantity 2 price 30 total is 60
product name oats quantity 2 price 550 total is 1100

In [2]:
a=str()
n=int(input("Enter the range"))
for i in range(n):
    name=input("Enter the name")
    number=int(input("Enter the phone number"))
    a+=f"name= {name}\n phone number={number}\n"
print(a)

Enter the range2
Enter the nameram
Enter the phone number98432567
Enter the namesita
Enter the phone number984100000
name= ram
 phone number=98432567
name= sita
 phone number=984100000

In [3]:
a="hello world
print(a[-1:0:-1])
    
a="ram sita hari rita"
if "sita" in a:
    print("yes")
else:
    print("no")

yes

In [4]:
a="ram hari sita ram  ram"
print(a.count('ram'))

3

In [9]:
a="ram is bad boy "
print(a.replace('boy','girl'))

ram is bad girl

In [10]:
a='ram Sita'
print(a.upper())
print(a.lower())

RAM SITA
ram sita

In [1]:
name=input("enter the name").lower()
a="ram Sita hari Gita".lower()
if name in a:
    print("yes")
else:
    print("no")

enter the nameRaM
yes

In [2]:
a='ram ,hari,sita'#string is immutable datatype
print(a.upper())
print(a)

RAM ,HARI,SITA
ram ,hari,sita

In [3]:
a="hari sita hari"
print(a.replace('hari','ram'))

ram sita ram

In [6]:
#immutable\
a='ram sita hari ram'
b=a.replace('ram',"rama")
c=b.replace('rama'," ")
print(a)
print(b)
print(c)

ram sita hari ram
rama sita hari rama
  sita hari

In [7]:
a="rama hari sita krishna"
a.split()

['rama', 'hari', 'sita', 'krishna']

In [8]:
a='ram har-i sita gita mita'
a.split('a')

['r', 'm h', 'r-i sit', ' git', ' mit', '']

In [11]:
a=['ram', 23 ,'ktm']
print(a[1])

23

In [3]:
#homework marksheet
marksheet=str()
n=int(input("Enter the no of student"))
for i in range(n):
    name=input("Enter Studebt name=")
    DSA=int(input("Enter the marks obtained in DSA="))
    CT=int(input("Enter the marks obtained in CT="))
    WT=int(input("Enter the marks obtained in WT="))
    C=int(input("Enter the marks obtained in C="))
    sum=DSA+CT+WT+C
    p=sum/4
    marksheet+=f"Student name={name}\nmarks obtained in DSA={DSA}\nmarks obtained in CT={CT}\nmarks obtained in WT={WT}\nmarks obtained in C={C}\nPercentage={p}\n"
print(marksheet)

Enter the no of student2
Enter Studebt name=Ram
Enter the marks obtained in DSA=45
Enter the marks obtained in CT=67
Enter the marks obtained in WT=80
Enter the marks obtained in C=56
Enter Studebt name=Sita
Enter the marks obtained in DSA=60
Enter the marks obtained in CT=78
Enter the marks obtained in WT=56
Enter the marks obtained in C=78
Student name=Ram
marks obtained in DSA=45
marks obtained in CT=67
marks obtained in WT=80
marks obtained in C=56
Percentage=62.0
Student name=Sita
marks obtained in DSA=60
marks obtained in CT=78
marks obtained in WT=56
marks obtained in C=78
Percentage=68.0